// COLOR VARIABLES
$color-white-primary: #FBFBFB;
$color-white-secondary:#FFF;
$color-black-secondary: #211f1f;
$color-black-primary: #000;
$color-purple: #A86BF5;
$color-blue: #5A85F4;
$color-bh:#0154F7;
$color-fb:#1773EA;
$color-db:#E34A85;
$color-wa:#25D366;
$color-gm:#F14336;

@mixin transition-basic {
  transition: all 0.3s;
}



// FONT VARIABLES
$font-primary: 'Poppins',
'sans-serif';
$font-secondary: 'Raleway';


// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 37.5em; // 600px;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: $bp-large) {
    font-size: 50%;
  }

  @media only screen and (max-width: $bp-medium) {
    font-size: 40%;
  }

  @media only screen and (max-width: $bp-small) {
    font-size: 35%;
  }




}

body {
  font-family: $font-primary;
  font-weight: 300;
  line-height: 1.6;
  overflow-x: hidden;
  margin-left: auto;
  margin-right: auto;
  max-width: 200rem;







}


.contain_top {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: minmax(100vh, 100rem) min-content; //temp fix vertical align issue
 

}














//HOVER IMAGES BOOTSTRAP