// COLOR VARIABLES
$color-white-primary: #FBFBFB;
$color-white-secondary:#FFF;
$color-black-secondary: #211F1F;
$color-black-primary: #000;
$color-cyan: #25e6d3;
$color-purple: #A86BF5;
$color-blue: #5A85F4;
$color-bh:#0154F7;
$color-fb:#1773EA;
$color-db:#E34A85;
$color-wa:#25D366;
$color-gm:#F14336;

@mixin transition-basic {
  transition: all 0.3s;

}



// FONT VARIABLES
$font-primary: 'Poppins',
'sans-serif';
$font-secondary: 'Raleway';


// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 37.5em; // 600px;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;

  @media only screen and (max-width: $bp-large) {
    font-size: 50%;
  }

  @media only screen and (max-width: $bp-medium) {
    font-size: 40%;
  }

  @media only screen and (max-width: $bp-small) {
    font-size: 35%;
  }




}

body {
  font-family: $font-primary;
  font-weight: 300;
  line-height: 1.6;
  overflow-x: hidden;
  margin-left: auto;
  margin-right: auto;
  max-width: 200rem;
  // background-color: #090B08;








}


.contain_top {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  // grid-template-rows: minmax(100vh, 100rem) min-content; //temp fix vertical align issue
  grid-template-rows: 100vh min-content;
  

  // @media only screen and (max-width: $bp-large) {
  //   grid-template-rows: 100vh min-content; //temp fix vertical align issue

  // }

}



// BOOTSRAP EDITS

.btn-primary,
.btn-secondary {
  background-color: $color-black-secondary;
  color: #fff;
  border-radius: 0;
  border: 0;
  padding: 10px 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  cursor: pointer;
}

.btn-primary {
  &:hover {
    background-color: $color-black-secondary;
  }
  &:focus {
    background-color: $color-purple;
  }
}


.btn-secondary {
  background-color: transparent;
  color: #000;
}






// MODAL ELEMENTS
.modal p {
  font-size: 14px;
  padding: 1rem;
  opacity: 0.7;
}

#modal-img {
  width: 100%;
  height: auto;
  padding: 5px;
}

//STOP MODAL SHIFT LEFT
.modal-open[style] {
  padding-right: 0px !important;
  }