.footer {
    background-color: $color-black-secondary;
    color: $color-white-primary;
    text-align: center;
    height: auto;
    font-size: 1.5rem;
    padding: 1rem;
    
   
  
  
  
    &__icons {
      margin-top: 0.5rem;
      display: flex;
      justify-content: center;
      
      

        
    }
  
    &__copyright {
      padding: 1rem;
    }
  
  
  }





/////////// MODAL END ///////////