//HEADER
.header {
  background-color: $color-black-secondary;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 10rem 20rem min-content min-content min-content min-content 1fr;
  row-gap: 5px;

  @media only screen and (max-width: $bp-medium) {
    row-gap: 10px;

  }

  @media only screen and (max-width: $bp-small) {}

  &__main {
    //background-color: green;
    font-size: 8rem;
    font-family: $font-primary;
    font-weight: 700;
    color: $color-white-primary;
    grid-column: 4 / -1;
    grid-row: 3 / 4;
    transform: translateX(400%);
    transition: transform 1s ease;


    @media only screen and (max-width: $bp-medium) {
      font-size: 7rem;
      margin-bottom: 2rem;
      grid-column: 3 / 12;
      text-align: center;
    }

    @media only screen and (max-width: $bp-small) {
      font-size: 5rem;
      grid-column: 2 / -1;

    }
  }

  // when show class is present translateX back to view
  &__main.show {
    transform: translateX(0);
  }



  &__intro {
    //background-color: red;
    grid-column: 4 / 8;
    grid-row: 4 / 5;

    @media only screen and (max-width: $bp-medium) {
      grid-column: 2/ 12;

    }

    @media only screen and (max-width: $bp-small) {
      grid-column: 2 / 12;

    }
  }

  &__intro--text {
    font-size: 1.5rem;
    font-family: $font-secondary;
    color: $color-white-primary;
    transform: translateX(-400%);
    transition: transform 1s ease;

    @media only screen and (max-width: $bp-medium) {
      font-size: 2.5rem;
      text-align: center;
    }

    





  }

  &__intro--text.show {
    transform: translateX(0);
  }

  &__cta {
    //background-color: gold;
    grid-column: 4 / 5;
    grid-row: 6 / 7;

    @media only screen and (max-width: $bp-medium) {
      grid-column: 5 / 8;
    }





  }

  &__cta--button {
    width: 20rem;
    height: 6rem;
    background-image: linear-gradient(to right, $color-purple, $color-blue);
    border-radius: 1.6rem;
    border: none;
    font-family: $font-primary;
    font-size: 2rem;
    font-weight: 500;
    color: $color-white-primary;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    transform: translateX(-400%);
    transition: transform 1s ease;


    @media only screen and (max-width: $bp-medium) {
      width: 35.5rem;
      height: 10rem;
      font-size: 2.5rem;

    }

    @media only screen and (max-width: $bp-small) {
      width: 28.5rem;


    }

    //transition: background-image 0.3s;


    &:hover {
      background-image: linear-gradient(to right, $color-blue, $color-purple);

    }

    


  }

  &__cta--button.show {
    transform: translateX(0%);
  }

  &__icons {
    //background-color: slateblue;
    grid-column: 4 / 5;
    grid-row: 5 / 6;
    display: flex;
    justify-content: flex-start;
    margin-top: 1rem;
    margin-bottom: 2rem;
    transform: translateX(400%);
    transition: transform 1s ease;
    visibility: hidden;
    

    @media only screen and (max-width: $bp-medium) {
      grid-column: 5 / 9;
      justify-content: space-around;
      padding: 1rem;
    }

  }

  &__icons.show {
    transform: translateX(0%);
    visibility: visible;
  }




}

.icon__db,
.icon__bh,
.icon__wa,
.icon__fb {
  margin-left: 2rem;

  &:hover {
    scale: 1.2;
  }
}



.navigation {
  //background-color: blue;
  grid-column: 8 / -1;

  @media only screen and (max-width: $bp-medium) {
    display: none;
  }



  &__list {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    margin-top: 2rem;


  }

  &__item {
    display: inline;
    font-family: $font-primary;
    font-size: 2rem;
    font-weight: 500;
  }

  &__link {
    text-decoration: none;
    color: $color-white-primary;

    &:hover {
      border-bottom: 3px solid $color-purple;
      color: $color-white-primary;
    }
  }
}

svg {
  fill: $color-white-primary;

  @media only screen and (max-width: $bp-small) {
    width: 5rem;
    height: 5rem;


  }

}

.icon {


  &__fb {


    &:hover {
      fill: $color-fb;
      @include transition-basic;
    }
  }

  &__gm {


    &:hover {
      fill: $color-gm;
      scale: 1.2;
      @include transition-basic;

    }
  }

  &__wa {

    &:hover {
      fill: $color-wa;
      @include transition-basic;
    }
  }

  &__db {
    &:hover {
      fill: $color-db;
      @include transition-basic;
    }
  }

  &__bh {
    &:hover {
      fill: $color-bh;
      @include transition-basic;
    }
  }




}