//HEADER
.header {
  background-color: $color-black-secondary;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/hero-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 10rem 20rem repeat(4, min-content) min-content;
  row-gap: 5px;
//MEDIUM
    // width: 100vw;
    // height: 100%;
    // min-height: 100%;
    // box-sizing: border-box;
    // overflow-x: hidden;
    // overflow-y: hidden;

  @media only screen and (max-width: $bp-large) {
    
    grid-template-rows: 10rem 13rem repeat(4, min-content) 1fr;

  }

  @media only screen and (max-width: $bp-medium) {
    row-gap: 10px;
    

  }

  @media only screen and (max-width: $bp-small) {}

  &__main {
    
    font-size: 8rem;
    font-family: $font-primary;
    font-weight: 700;
    color: $color-white-primary;
    grid-column: 4 / -1;
    grid-row: 3 / 4;
    transform: translateX(400%);
    transition: transform 1s ease;


    @media only screen and (max-width: $bp-medium) {
      font-size: 7rem;
      margin-bottom: 2rem;
      grid-column: 3 / 12;
      text-align: center;
    }

    @media only screen and (max-width: $bp-small) {
      font-size: 5rem;
      grid-column: 1 / -1;

    }

    
  }

  // when show class is present translateX back to view
  &__main.show {
    transform: translateX(0);
  }



  &__intro {
    
    grid-column: 4 / 8;
    // grid-column: 4 / 11;
    grid-row: 4 / 5;

    @media only screen and (max-width: $bp-medium) {
      grid-column: 2/ 12;

    }

    @media only screen and (max-width: $bp-small) {
      grid-column: 2 / 12;

    }
  }

  &__intro--text {
    font-size: 1.5rem;
    // font-size: 2.2rem;
    font-family: $font-secondary;
    color: $color-white-primary;
    transform: translateX(-400%);
    transition: transform 1s ease;

    @media only screen and (max-width: $bp-medium) {
      font-size: 2.5rem;
      text-align: center;
    }







  }

  &__intro--text.show {
    transform: translateX(0);
  }

  &__cta {
    //background-color: gold;
    grid-column: 4 / 5;
    grid-row: 6 / 7;

    @media only screen and (max-width: $bp-medium) {
      grid-column: 5 / 8;
    }





  }

  &__cta--button {
    width: 20rem;
    height: 6rem;
    background: rgb(37, 230, 211);
    background: linear-gradient(90deg, rgba(37, 230, 211, 1) 0%, rgba(26, 134, 187, 1) 100%);
    // background-image: linear-gradient(to right, $color-purple, $color-blue);
    border-radius: 1.6rem;
    border: none;
    font-family: $font-primary;
    font-size: 2rem;
    font-weight: 500;
    color: $color-white-primary;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    transform: translateX(-400%);
    transition: transform 1s ease;
     @include transition-basic;

    &:active {
      scale: 0.97;
    }


    @media only screen and (max-width: $bp-medium) {
      width: 35.5rem;
      height: 10rem;
      font-size: 2.5rem;

    }

    @media only screen and (max-width: $bp-small) {
      width: 28.5rem;


    }

    //transition: background-image 0.3s;


    &:hover {
       
      scale: 1.1;

    }




  }



  &__cta--button.show {
    transform: translateX(0%);
  }

  &__icons {
    //background-color: slateblue;
    grid-column: 4 / 5;
    grid-row: 5 / 6;
    display: flex;
    justify-content: flex-start;
    margin-top: 1rem;
    margin-bottom: 2rem;
    transform: translateX(400%);
    transition: transform 1s ease;
    visibility: hidden;



    @media only screen and (max-width: $bp-medium) {
      grid-column: 5 / 9;
      justify-content: space-around;
      padding: 1rem;
    }

  }

  &__icons.show {
    transform: translateX(0%);
    visibility: visible;
  }


 
}



.icon__db,
.icon__bh,
.icon__wa,
.icon__fb {
  margin-left: 2rem;
  @include transition-basic;

  &:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
  }
}



.navigation {
  //background-color: blue;
  grid-column: 8 / -1;


  @media only screen and (max-width: $bp-medium) {
    display: none;
  }



  &__list {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    margin-top: 2rem;


  }

  &__item {
    display: inline;
    font-family: $font-primary;
    font-size: 2rem;
    font-weight: 500;
  }

  &__link {
    text-decoration: none;
    color: $color-white-primary;


    &:hover {
      border-bottom: 3px solid $color-cyan;
      color: $color-white-primary;

    }
  }
}

svg {
  fill: $color-white-primary;

  @media only screen and (max-width: $bp-small) {
    width: 5rem;
    height: 5rem;


  }

}

.icon {


  &__fb {


    &:hover {
      fill: $color-fb;
      @include transition-basic;
    }
  }

  &__gm {
    @include transition-basic;

    &:hover {
      fill: $color-gm;
      -ms-transform: scale(1.1); /* IE 9 */
      -webkit-transform: scale(1.1); /* Safari 3-8 */
      transform: scale(1.1); 
      @include transition-basic;

    }
  }

  &__wa {

    &:hover {
      fill: $color-wa;
      @include transition-basic;
    }
  }

  &__db {
    &:hover {
      fill: $color-db;
      @include transition-basic;
    }
  }

  &__bh {
    &:hover {
      fill: $color-bh;
      @include transition-basic;
    }
  }




}


